    p {
        display: block;
        text-indent: 34px;
    }

    #h2learn {
        font-size: 24px;
        color: #999999;
    }

    textarea#code {
        cursor: text;
        font-size: 16px;
        font-family: Courier New, monospace;
        background-color: #393030;
        color: #FFFFD0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border-style: dashed;
        padding: 10px 10px 10px 10px;
        position: relative;
        outline: none;
        tab-size: 4;
        -o-tab-size: 4;
        -moz-tab-size: 4;
    }

    textarea:focus#code {
        background-color: #494040;
    }

    #allLearnPage {
        display: inline;
        width: 100%;
        float: left;
    }

    #step1Div {
        float: left;
    }

    #resultCode {
        margin-left: 15px;
        float: left;
        height: auto;
    }

    #rightBlock {
        float: left;
    }

    #sketch {
        background-color: #ffffff;
        border: 1px dashed #d3d3d3;
        outline: none;
    }

    #sketch-container {
        border: 0px;
    }

    #input_prof_mode_a {
        position: relative;
    }

    #input_prof_mode_a:hover:before {
        display: block;
        content: "В проф. режиме код оборачивается в void draw(){} и задается size(440, 300)";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-100% - 10px));
        border-radius: 3px;
        padding: 10px;
        background: #f7f7f7;
        box-shadow: 0 0 2px;
    }

    #input_prof_mode_a:hover:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-style: solid;
        border-width: 10px;
        border-color: #f7f7f7 transparent transparent transparent;
